@model IEnumerable<AppWebSpa.Models.SpaService>

@{
    ViewData["Title"] = "Servicios";
}

<h1>Servicios</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Fecha de registro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (SpaService spaService in Model) {
        <tr>
            <td>@spaService.Name</td>
            <td>@spaService.Description</td>
            <td>@spaService.Price</td>
            <td>@spaService.RegistrationDateTime</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@spaService.IdSpaService">Editar</a> |
                <a class="btn btn-success" asp-action="ServiceDetails" asp-route-id="@spaService.IdSpaService">Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@spaService.IdSpaService">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


@*Esta es la parte de saul, crud de servicios*@ 